* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.main-container {
    height: 100%;
    width: 100%;
    background-color: #0f002b;
    color: #fff;
    padding: 0 4%;
    overflow-x: hidden;
    position: relative;

}

.container {
    width: 100%;
    height: 100%;
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    /* padding: 0 7%; */
    color: #fff;
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    height: 15%;
    /* border: 1px solid white; */
    width: 100%;
    padding: 1.5vw 0;
    display: flex;
    /* align-items: center; */
    align-items: center;
}

.logo {
    width: 4vw;
    height: 4vw;
    cursor: pointer;
}

nav ul {
    flex: 1;
}

nav ul li {
    display: inline-block;
    margin: 0.5vw 2.3vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3vw;
}

/* nav .btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid white;
    padding: 0.vw 2vw;
    border-radius: 25px;
    margin-right: 1vw;
} */
nav button {
    padding: 1vw 1.3vw;
    font-size: 2vw;
    border-radius: 5vw;
    background-color: transparent;
    border: 1px solid white;

}

nav button i {
    background: -webkit-linear-gradient(orange, #ffddaa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

nav .menu {
    display: none;
}
/* //////////////// Hero //////////////// */
.content {
    height: 65%;
    /* border: 1px solid white; */
    /* margin-top: 3%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    font-size: 6vw;
    margin-bottom: 2.5vw;
}

.content h1 span {
    background: -webkit-linear-gradient(orange, #ffddaa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content p {
    font-size: 1.5vw;
    margin-bottom: 2vw;
    line-height: 2vw;
}

.content a {
    text-decoration: none;
}

.content .btn {
    width: 15vw;
    display: inline-block;
    margin-top: 2vw;
    background-image: linear-gradient(to bottom right, rgb(255, 166, 0), rgb(249, 218, 130));
    color: #0f002b;
    padding: 0.9vw 1.7vw;
    font-size: 1.4vw;
    /* border: 3px solid white; */
    border-radius: 2vw;
    font-weight: bold;

}

/* //////////////////////////////////////////// */
.coin-list {
    height: 20%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-end;
    /* margin-top: 3%; */
}

.coin {
    height: 70%;
    display: flex;
    align-items: center;
    margin: 0vw 1.5vw;
    border: 1px solid white;
    padding: 1vw 2vw;
    border-radius: 2vw;
    color: orange;

}

.coin img {
    height: 4vw;
}

.coin div {
    font-size: 1.2vw;
    margin-left: 1vw;
}

.coin h3 {
    color: #fff;
    margin-bottom: 1vw;
}

/*//////////////////////////////////// download_options//////////////////////////////////////// */

.download_options {
    height: 100%;
    /* margin-top: 10vw; */
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* align-items: space-around; */
}

.download_options_image img {
    height: 40vw;
}

.download_options-contents {
    position: relative;
    height: 70%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.download_options-contents h1 {
    font-size: 3vw;
}

.download_options_image img {
    height: 40vw;
}

.qrCode {
    display: flex;
    justify-content: center;
    column-gap: 4vw;
    align-items: center;
}

.qrCode img {
    border-radius: 2vw;
    height: 13vw;
}

.qrCode p {
    font-size: 2vw;
    line-height: 3vw;
}

.qrCode span {
    font-weight: bold;
}

.desktop-download-options {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid white; */
}

.desktop-download-options div {
    height: 3vw;
    /* width: 100px; */
    /* border: 1px solid red; */
    text-align: center;
    line-height: 3vw;
    font-size: 1.5vw;

}

/* //////////////account_creation///////////////// */

.account_creation {
    height: 100%;
    /* margin-top: 10vw; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    justify-content: space-evenly;
    /* row-gap: 4vw; */
}

.account-creation-header h1 {
    text-align: center;
    font-size: 2.5vw;
    margin-bottom: 3vw;
}

.account-creation-process {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */
}

/* .account-creation-process img{
    height: 200px;
} */
.account-creation-process i {
    text-align: right;
    font-size: 2vw;
    margin-bottom: 1.8vw;
    /* color: orange; */
    background: -webkit-linear-gradient(orange, #ffddaa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.account-creation-process h3 {
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

.account-creation-process p {
    color: gray;
    font-size: 1.2vw;
    line-height: 2vw;
}

/* /////////// */

.users-graph {
    width: 100%;
    height: 19vw;
}

/* ///////////// Security //////////////// */

.security {
    height: 100%;
    /* border: 1px solid white; */
    margin-top: 5vw;
}

.security-heading h1 {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 5vw;
}

.security-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vw 10vw
}

.security-contents div {
    /* border: 1px solid rgb(174, 174, 174); */
    height: 16vw;
    width: 30vw;
}

.security-contents div i {
    color: white;
    margin-left: 45%;
    margin-bottom: 1.5vw;
    font-size: 2.3vw;
    background-color: #2d3cae;
    padding: 1vw;
    border-radius: 1vw;
}

.security-contents h3 {
    font-size: 1.7vw;
    color: #9aa5f7e0;
    margin-bottom: 1.5vw;
    text-align: center;
}

.security-contents p {
    color: rgba(190, 188, 235, 0.534);
    text-align: center;
    font-size: 1.2vw;
    line-height: 2vw;
}

/* ////////////////// Offer banner//////////////////////////// */
.offer-banner {
    height: 30%;
    /* border: 1px saddlebrown solid; */
    /* height: 13vw; */
    /* margin-top: 15vw; */
    display: flex;
    background-color: #9aa5f7e0;
    /* margin: 40px 100px; */
    border-radius: 3vw;
    /* border: 1px solid green; */
}

.offer-content {
    width: 50%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-content p {
    font-family: "Crimson Text", serif;
    font-size: 3vw;
    line-height: 3vw;
}

.offer-content p:nth-child(2) {
    font-size: 1.2vw;
}

.offer-content i {
    font-weight: bold;
    text-transform: uppercase;
}



.subscribe {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1vw;
    /* border-radius: 15px; */
}

.subscribe input {
    height: 2.7vw;
    width: 25vw;
    padding: 1vw 2vw 1.1vw 2vw;
    border: none;
    border-radius: 1vw;
    font-size: 1vw;
    color: #0f002b;
}

.subscribe button {
    height: 2.7vw;
    width: 25vw;
    font-size: 1.3vw;
    padding: 0.5vw 2vw 1vw 2vw;
    border: none;
    border-radius: 1vw;
    color: white;
    background-color: #0f002b;
    transition: all 0.5s ease-in-out;

    &:hover {
        background-color: #0f002b80;
    }
}

/* /////////////// Footer //////////////////////// */

footer {
    height: 95vw;
    margin-top: 3vw;
    color: #d7dbfae0;
    /* border: 1px solid white; */
}

.footer-section-one {
    display: flex;
    align-items: center;
}

.footer-section-one h1{
    font-size: 3vw;
}

.footer-section-one img {
    height: 15vw;
    width: 15vw;
    padding: 4vw;
    /* border-right: 1px solid white; */
}

.footer-section-two {
    display: flex;
    justify-content: space-evenly;
    padding: 5vw 0vw;
}

.footer-section-two ul h3 {
    font-size: 2vw;
    font-weight: 550;
    margin-bottom: 1.2vw;
}

.footer-section-two ul li {
    list-style-type: none;
    line-height: 2.5vw;
    font-size: 1.2vw;
    color: grey;
}

.footer-section-three {
    height: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7vw 0vw;
    /* border: 1px solid white; */
}

.footer-section-three-contact h3 {
    font-size: 2vw;
    font-weight: 550;
    margin-bottom: 2vw;
}

.footer-section-three-contact p {
    font-size: 1.1vw;
    line-height: 2.5vw;
}

.footer-section-three-socials i {
    margin-right: 2vw;
    font-size: 2.5vw;
    color: #9aa5f7e0;

    &:hover {
        color: white;
    }
}

.footer-section-four {
    padding: 3vw 0vw;
}

.footer-section-four h3 {
    font-size: 2vw;
    font-weight: 550;
    margin-bottom: 2vw;
}

.footer-section-four p {
    font-size: 1.1vw;
    line-height: 2vw;
    color: gray;
}

.footer-section-five {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 2vw;
}
.footer-section-five p{
    font-size: 1.1vw;
}
.footer-section-five a {
    text-decoration: none;
    color: #9aa5f7e0;
    font-size: 1.1vw;
    font-weight: bold;

    &:hover {
        color: white;
    }
}

footer hr {
    height: 0.1vw;
    background-color: grey;
    border: none;
}