<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cryptance</title>
  <!-- <link rel="shortcut icon" href="./images/" type="image/x-icon" /> -->
  <link rel="shortcut icon" href="/favicon-32x32.png" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles/style.css" />
  <link rel="stylesheet" href="../static/styles/media-styles.css">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="service" href="/sw.js">
  
</head>

<body>
  <div class="main-container">
    <div class="container">
      <nav>
        <img src="/static/images/logo.png" class="logo" />
        <ul>
          <li><a href="#">Market</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">White papers</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
        <!-- <a href="#" class="btn">EN</a> -->
        <button><a href="register"><i class="fa-solid fa-user"></i></a></button>
        <i class="fa-solid fa-bars menu"></i>
      </nav>
      <div class="content">
        <h1>BUY & <br />SELL <span>Crypto</span></h1>
        <p>
          World's biggest Cryptocurrency exchange available on web <br />as well
          as on mobile phone.
        </p>
        <a href="explore" class="btn">EXPLORE MORE</a>
      </div>
      <div class="coin-list">
        <div class="coin">
          <img src="/static/images/bitcoin.png" />
          <div>
            <h3>$<span id="bitcoin"></span></h3>
            <p>Bitcoin</p>
          </div>
        </div>
        <div class="coin">
          <img src="/static/images/ethereum.png" />
          <div>
            <h3>$<span id="ethereum"></span></h3>
            <p>Ethereum</p>
          </div>
        </div>
        <div class="coin">
          <img src="/static/images/dogecoin.png" />
          <div>
            <h3>$<span id="dogecoin"></span></h3>
            <p>Dogecoin</p>
          </div>
        </div>
      </div>
    </div>
    <section class="download_options">
      <div class="download_options_image">
        <img src="/static/images/mobile-chart.svg" alt="mobile-view" />
      </div>
      <div class="download_options-contents">
        <h1>Trade on the go. Anywhere, anytime.</h1>
        <div class="qrCode">
          <img src="/static/images/qr-code.png" alt="qr-code" />
          <p>Scan to Download the App <br /><span>iOS and Android</span></p>
        </div>
        <div class="desktop-download-options">
          <div class="macOs"><i class="fa-brands fa-apple"></i><br />MacOs</div>
          <div class="windows">
            <i class="fa-brands fa-windows"></i><br />Windows
          </div>
          <div class="linux"><i class="fa-brands fa-linux"></i><br />Linux</div>
        </div>
      </div>
    </section>
    <section class="account_creation">
      <div class="account_creation-one">
        <div class="account-creation-header">
          <h1>Investing in crypto will be easier than ever.</h1>
        </div>
        <div class="account-creation-process">
          <div class="create-a-account">
            <div class="create-a-account-sec_one">
              <i class="fa-solid fa-user-plus"></i>
              <h3>1. Create your Cryptance account</h3>
            </div>
            <p>
              Download the app, keep your documents handy & complete the KYC
            </p>
          </div>
          <div class="add-funds">
            <div class="add-funds-sec_one">
              <i class="fa-solid fa-building-columns"></i>
              <h3>2. Add funds</h3>
            </div>
            <p>
              Deposit INR by choosing from one of our many payment methods.
            </p>
          </div>
          <div class="start-investing">
            <div class="start-investing-sec_one">
              <i class="fa-solid fa-money-bill-trend-up"></i>
              <h3>3. Start investing</h3>
            </div>
            <p>
              Choose from Buy, Sell, CIP, Earn, Futures, Margin products to
              start investing.
            </p>
          </div>
          <!-- <img src="./images/investing.svg" alt=""> -->
        </div>

      </div>
      <div class="account_creation-two">
        <img src="/static/images/users-graph.svg" alt="" class="users-graph" />
      </div>
    </section>

    <section class="security">
      <div class="security-heading">
        <h1>Your Security Matters</h1>
      </div>
      <div class="security-contents">
        <div class="digital-assets">
          <i class="fa-solid fa-sim-card"></i>
          <h3>Safekeeping Your Digital Assets</h3>
          <p>
            We keep your digital assets safe with an extra layer of
            security.
          </p>
        </div>
        <div class="End-to-End_Encryption">
          <i class="fa-sharp fa-solid fa-hashtag"></i>
          <h3>End-to-End Encryption</h3>
          <p>
            We use advanced encryption and follow the highest
            industry standards, ensuring worry-free crypto trading and
            investment for you.
          </p>
        </div>
        <div class="2-Factor_Authentication">
          <i class="fa-solid fa-check"></i>
          <h3>2 - Factor Authentication</h3>
          <p>
            Double your Cryptance account security with 2-factor
            authentication - choose the setup that suits you best.
          </p>
        </div>
        <div class="transparency">
          <i class="fa-solid fa-file-shield"></i>
          <h3>Transparency - Your Right to Know</h3>
          <p>
            We don't just talk, we practice it. Explore our transparency
            reports, proof of reserves, and more, because informed
            users make better decisions.
          </p>
        </div>
      </div>
    </section>
    <section class="offer-banner">
      <div class="offer-content">
        <p>Get<i> 10% off </i>on your first order.</p>
        <p>Sign Up for our newsletter and never miss any offers</p>
      </div>
      <form action="" class="subscribe">
        <input type="email" placeholder="Your email address" />
        <button type="submit">Subscribe Now</button>
      </form>
    </section>
    <footer>
      <div class="footer-section-one">
        <img src="/static/images/logo.png" alt="logo" />
        <h1>Cryptance</h1>
      </div>
      <hr />
      <div class="footer-section-two">
        <ul>
          <h3>Company</h3>
          <li>About Us</li>
          <li>Blog</li>
          <li>Careers</li>
          <li>Fees</li>
          <li>Media Kit</li>
          <li>Proof of Reserves</li>
        </ul>
        <ul>
          <h3>Product</h3>
          <li>Spot Trading</li>
          <li>Margin Trading</li>
          <li>Convert</li>
          <li>Future Trading</li>
          <li>Earn</li>
        </ul>
        <ul>
          <h3>Support</h3>
          <li>24/7 Chat Support</li>
          <li>Support Center</li>
          <li>Terms of Use</li>
          <li>Privacy Policy</li>
          <li>Risk Disclosures</li>
        </ul>
        <ul>
          <h3>Business</h3>
          <li>OTC</li>
          <li>API Broker</li>
          <li>Enterprise</li>
          <li>New Coin Listing</li>
          <li>Ventures</li>
        </ul>
        <ul>
          <h3>Crypto Prices</h3>
          <li>Bitcoin Price</li>
          <li>Ethereum Price</li>
          <li>Ripple XRP Price</li>
          <li>Dogecoin Price</li>
          <li>Solana Price</li>
          <li>Litecoin Price</li>
          <li>All Crypto Price</li>
        </ul>
      </div>
      <hr />
      <div class="footer-section-three">
        <div class="footer-section-three-contact">
          <h3>Contact us</h3>
          <p>Regulatory Authority write to legal@Cryptance.com</p>
          <p>Press Enquiries write to media.queries@Cryptance.com</p>
        </div>
        <div class="footer-section-three-socials">
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-telegram"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
      <hr />
      <div class="footer-section-four">
        <h3>Disclaimer</h3>
        <p>
          Crypto products & NFTs are unregulated and can be highly risky. There
          may be no regulatory recourse for any loss from such transactions. The
          information and material contained herein are subject to change
          without prior notice including prices which may fluctuate based on
          market demand and supply. The material available on the site is
          proprietary to Cryptance, its parent, Licensor and/or its affiliates and
          is for informational purposes and informed investors only. This
          material is not: (i) an offer, or solicitation of an offer, to invest
          in, or to buy or sell, any interests or shares, or to participate in
          any investment or trading strategy, or (ii) intended to provide
          accounting, legal, or tax advice, or investment recommendations.
          <br><br>
          *Data sourced from Looker app as on 01st May,2023 <br>
          *Data as on 01st May,2023 <br>
          *Quarterly trading volume for Q2 FY'23. Currency conversion rate applied as in data capturing period <br>
          *FIU Registered entity, VR TECHNOLOGIES PVT LTD <br>
          *Certified in India for May 2023-24 <br>
        </p>
      </div>
      <hr>
      <div class="footer-section-five">
        <p>&#169; 2024 All rights reserved</p>
      </div>
    </footer>

  </div>
  <script src="/static/scripts/index.js"></script>
  
  <!-- <script src="/sw.js"></script> -->
</body>

</html>